/* Personnalisation des images */
.image.featured {
    width: 150px;
    height: 250px;
    object-fit: cover; /* Conserve les proportions de l'image */
    object-position: center top; /* Centre l'image verticalement */
}
