/*body{
	font-size: 15px;
}*/



.le_film .image{
	width:100%;
	height:300px;
	object-fit:cover;
	
}

.le_film .tpl_poster{
	object-position:50% 90%;
}
@media (max-width:768px){
	.le_film{
		max-width:100%;
	}
	.film-poster img {
		max-height:200px;
	}
}
	
	

	
	
